/CommonTest/CommonTest.vcxproj
/CommonTest/CommonTest.vcxproj.filters
/CommonTest/CommonTestVS08.vcproj
/快速构建工程说明.txt
/CommonTest2008.sln
/CommonTest2015.sln
/copy2other.bat
/copyhead.bat
*.suo
windows/
ai_defs_kedacom.h
/wintest
/build
